.votingpanel-child {
    position: absolute;
    top: 254px;
    left: 178px;
    background-color: white;
    width: 1077px;
    height: 293px;
  }
  .education-ba,
  .party-independent {
    position: absolute;
    top: 400px;
    left: 266px;
  }
  .education-ba {
    top: 453px;
  }
  .age-58,
  .name-baburao-ganpatrao {
    position: absolute;
    top: 347px;
    left: 266px;
  }
  .name-baburao-ganpatrao {
    top: 294px;
  }
  .votingpanel-item {
    position: absolute;
    top: 140px;
    left: 142px;
    background-color: #8b8b8b;
    border: 5px solid #015fc7;
    box-sizing: border-box;
    width: 1156px;
    height: 122px;
  }
  .independent {
    position: absolute;
    top: 173px;
    left: 599px;
    color: white;
  }
  .votingpanel-inner {
    position: absolute;
    top: 601px;
    left: 142px;
    background-color: white;
    width: 1156px;
    height: 122px;
  }
  .bjp,
  .naredra-modi {
    position: absolute;
    top: 636px;
    left: 599px;
  }
  .naredra-modi {
    top: 641px;
    left: 244px;
  }
  .rectangle-div,
  .votingpanel-child1 {
    position: absolute;
    top: 772px;
    left: 142px;
    background-color: white;
    width: 1156px;
    height: 122px;
  }
  .votingpanel-child1 {
    top: 943px;
  }
  .ellipse-icon {
    position: absolute;
    top: 173px;
    left: 171px;
    width: 56px;
    height: 56px;
  }
  .votingpanel-child2,
  .votingpanel-child3,
  .votingpanel-child4 {
    position: absolute;
    top: 634px;
    left: 171px;
    width: 56px;
    height: 56px;
  }
  .votingpanel-child3,
  .votingpanel-child4 {
    top: 805px;
  }
  .votingpanel-child4 {
    top: 976px;
  }
  .baburao {
    position: absolute;
    top: 176px;
    left: 254px;
    color: white;
  }
  .congress,
  .rahul-gandhi {
    position: absolute;
    top: 813px;
    left: 254px;
  }
  .congress {
    top: 806px;
    left: 599px;
  }
  .aap,
  .arvind-kejriwal {
    position: absolute;
    top: 984px;
    left: 261px;
  }
  .aap {
    top: 992px;
    left: 602px;
  }
  .votingpanel-child5 {
    position: absolute;
    top: 1097px;
    left: 143px;
    background-color: #c4c4c4;
    width: 31px;
    height: 31px;
  }
  .i-have-selected {
    position: absolute;
    top: 1093px;
    left: 199px;
    color: white;
  }
  .submit {
    position: absolute;
    top: 11px;
    left: 93px;
  }
  .submitvote,
  .voting-panel {
    position: absolute;
    color: white;
  }
  .submitvote {
    top: 1161px;
    left: 563px;
    background-color: #015fc7;
    width: 314px;
    height: 61px;
  }
  .voting-panel {
    top: 74px;
    left: 138px;
    font-size: 40px;
    font-family: "DM Serif Display";
  }
  .vector-icon,
  .vector-icon1,
  .vector-icon2,
  .vector-icon3 {
    position: absolute;
    height: 3.63%;
    width: 2.06%;
    top: 13.39%;
    right: 13.57%;
    bottom: 82.98%;
    left: 84.38%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon1,
  .vector-icon2,
  .vector-icon3 {
    height: 2.24%;
    width: 3.33%;
    top: 50.08%;
    right: 12.92%;
    bottom: 47.68%;
    left: 83.75%;
  }
  .vector-icon2,
  .vector-icon3 {
    top: 62.1%;
    bottom: 35.66%;
  }
  .vector-icon3 {
    top: 74.81%;
    bottom: 22.95%;
  }
  .votingpanel {
    position: relative;
    background-color: #001124;
    width: 100%;
    height: 1322px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    font-size: 30px;
    color: black;
    font-family: Tienne;
  }
  