.container-main-addCandidate{
  background-color: black;
  width: max-content;
  margin-top: 3%;
  margin-left: 30%;
  margin-right: 20%;
  overflow: auto;
}

.candidate-list-style{
  font-family: Poppins;
  font-size: 30px;
}
.add-candidate-page{
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 60px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: 20px;
  color: white;
  font-family: Poppins;
}
.form {
  width: fit-content;
  margin: 5px;
  padding: 7px;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}
input {
  background-color: black;
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
  color: white;
  font-size: 20px;
  padding: z;
  transition: border-bottom-color 0.2s ease-in-out;
}
/*.input-ac {*/
/*  margin: 0.5em;*/
/*  margin-left: 0;*/
/*  padding: 1em;*/
/*  display: block;*/
/*  width: fit-content;*/
/*}*/
.label-ac {
  width: 800px;
  display: block;
  margin: 0.1em;
  padding: 0.5em;
}
.btn-add {
  background-color: #015fc7;
  border-radius: 10px;
  border-color: #015fc7;
  position: relative;
  top: 0;
  left: 666px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 15%;
  height: 50px;
  font-size: 25px;
  color: white;
}

.btn-add:hover:not(.disabled) {
  transform: scale(1.1);
}

.btn-add:active:not(.disabled) {
  transform: scale(0.9);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

@media all and (max-width: 400px) {
  .input-ac,
  .btn-add {
    width: 100%;
  }
  .btn-add {
    float: inline-start;
  }
}
