@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.div-li {
  display: inline-grid;
}
input {
  background-color: black;
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
  color: white;
  font-size: 20px;
  padding: 12px;
  transition: border-bottom-color 0.2s ease-in-out;
}

input:focus {
  outline: none;
  border-bottom-color: white;
}

.label-r {
  margin: 0.1em;
  padding: 0.5em;
  display: block;
}

.note {
  width: 90%;
  padding: 11px;
  padding-left: 1px;
  text-align: justify;
  max-height: 111px;
  overflow: auto;
  line-height: 1.5em;
}
.figure-icon {
  position: absolute;
  height: 60.45%;
  width: 28.33%;
  top: 23.63%;
  right: 12.22%;
  bottom: 15.92%;
  left: 59.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.account-address,
.registration-form {
  position: absolute;
  top: 10%;
  left: 0%;
  display: inline-block;
  width: 90%;
}

.account-address {
  letter-spacing: 0.02em;
  width: 100%;
  height: auto;
}
.account-address-parent,
.age-parent,
.barcode-parent,
.full-name {
  position: absolute;
  width: 100%;
  height: auto;
}
.age-parent,
.barcode-parent,
.full-name {
  top: 15em;
}
.barcode-parent,
.full-name {
  top: 20em;
}
.full-name {
  top: 0;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 40%;
  height: 200px;
}
.full-name-parent,
.phone-number {
  position: relative;
  top: 5.5em;
  width: 100%;
  height: auto;
}
.phone-number {
  top: 0;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 35%;
  height: 24.43px ;
}
.group-container,
.phone-number-parent,
.rectangle-div {
  position: relative;
  top: 125px;
  left: 0;
  width: 100%;
  height: auto;
}
.group-container,
.rectangle-div {
  top: 0;
  height: auto;
}
.rectangle-div {
  border-radius: 20px;
  background-color: #015fc7;
  padding: 1em;
  margin: 1em 0;
}
button.register {
  background-color: #015fc7;
  border-radius: 20px;
  position: relative;
  top: -3em;
  left: 0;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 100%;
  height: 80px;
  font-size: 35px;
  color: white;
}
.group-frame,
.rectangle-parent {
  position: relative;
  top: 0;
  left: 0px;
  width: 100%;
  height: auto;
}
.group-frame {
  top: 11em;
  font-size: 32px;
}
.group-wrapper,
.registration-page-inner {
  position: relative;
  top: 0;
  left: 0;
  width: 68%;
  height: auto;
}
.registration-page-inner {
  top: 12em;
  left: 7em;
  font-size: 20px;
}
.registration-page-not-init{
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}
.registration-page {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: 3.5vw;
  color: white;
  font-family: Poppins;
}
.validation-note {
  position: relative;
  width: 90%;
  max-width: 365px;
  height: auto;
  margin: 2em 0;
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: justify;
}
@media all and (max-width: 768px) {
  .registration-form {
    left: 2%;
    width: 96%;
  }
  
  .rectangle-div {
    padding: 0.5em;
  }
}
