@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.div-li {
  display: inline-grid;
}
input {
  background-color: black;
  border: none;
  border-bottom: 2px solid white;
  width: 120%;
  color: white;
  font-size: 20px;
  padding: 12px;
  transition: border-bottom-color 0.2s ease-in-out;
}

input:focus {
  outline: none;
  border-bottom-color: white;
}

.label-r {
  margin: 0.1em;
  padding: 0.5em;
  display: block;
}
/*.btn-add {*/
/*  width: 50%;*/
/*  padding: 1em;*/
/*  float: inline-end;*/
/*  margin: 1em;*/
/*}*/
.note {
  width: 90%;
  padding: 11px;
  padding-left: 1px;
  text-align: justify;
  max-height: 111px;
  overflow: auto;
  line-height: 1.5em;
}
.figure-icon {
  position: absolute;
  height: 60.45%;
  width: 28.33%;
  top: 23.63%;
  right: 12.22%;
  bottom: 15.92%;
  left: 59.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.account-address,
.registration-form {
  position: absolute;
  top: 107px;
  left: 85px;
  display: inline-block;
  width: 686px;
}
.account-address {
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  width: 234.99px;
  height: 23.61px;
}
.account-address-parent,
.age-parent,
.barcode-parent,
.full-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 515px;
  height: 60.01px;
}
.age-parent,
.barcode-parent,
.full-name {
  top: 300.81px;
}
.barcode-parent,
.full-name {
  top: 401.07px;
}
.full-name {
  top: 0;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 159.22px;
  height: 23.53px;
}
.full-name-parent,
.phone-number {
  position: absolute;
  top: 100.26px;
  left: 0;
  width: 515px;
  height: 60.01px;
}
.phone-number {
  top: 0;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 214.13px;
  height: 24.43px;
}
.group-container,
.phone-number-parent,
.rectangle-div {
  position: absolute;
  top: 200.55px;
  left: 0;
  width: 515px;
  height: 60.01px;
}
.group-container,
.rectangle-div {
  top: 0;
  height: 461.08px;
}
.rectangle-div {
  border-radius: 20px;
  background-color: #015fc7;
  height: 80px;
  left: 50px;
}
button.register {
  background-color: #015fc7;
  border-radius: 20px;
  position: relative;
  top: 0;
  left: 50px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 100%;
  height: 80px;
  font-size: 35px;
}
.group-frame,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: -24px;
  width: 515px;
  height: 57px;
}
.group-frame {
  top: 526px;
  font-size: 32px;
}
.group-wrapper,
.registration-page-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 515px;
  height: 583px;
}
.registration-page-inner {
  top: 251px;
  left: 124px;
  font-size: 20px;
}
.registration-page {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: 64px;
  color: white;
  font-family: Poppins;
}
.validation-note {
  position: absolute;
  width: 365px;
  height: 128px;
  left: 80px;
  top: 600px;

  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: justify;

}
